.mainContainer {
  min-height: 100vh;
  width: 129px;
  background: #BDBDBD;
  line-height: 14px;
  padding-left: 21px;
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: start;
  .title{
    font-size: 12px;
  }
}